.articles__container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.articles__container__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

.mini-articles__container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.mini-articles__container__mini-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 200px;
    padding: 1rem;
    background-color: grey;
    color: white;
}