html, body {
    height: 100%;
}

body {
    background-color: rgb(40, 40, 43);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
    gap: 0.5rem;
}

.splash__container {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
}

.bio__container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 0 1rem 0;
    color: rgb(250, 249, 246);
    //border-bottom: 0.1rem solid rgb(250, 249, 246);
    border-bottom: 0.1rem solid rgb(238, 207, 109);
}

.film-type__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    gap: 3rem;
    //background-color: rgb(40, 40, 43);
    //border-bottom: 0.1rem solid rgb(250, 249, 246);
    border-bottom: 0.1rem solid rgb(238, 207, 109);
}

.film-type__article-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    color: rgb(250, 249, 246);
}

.shop__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    gap: 3rem;
    //border-bottom: 0.1rem solid rgb(250, 249, 246);
    border-bottom: 0.1rem solid rgb(238, 207, 109);
}

.shop__image-container {
    position: relative;
    width: 100%;
}

.blog__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    gap: 3rem;
    //border-bottom: 0.1rem solid rgb(250, 249, 246);
    border-bottom: 0.1rem solid rgb(238, 207, 109);
}

.blog__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.blog__article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 1rem 0;
    color: rgb(250, 249, 246);
    border: 0.1rem solid rgb(250, 249, 246);
}

.tv__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    gap: 3rem;
    border-bottom: 0.1rem solid rgb(250, 249, 246);
}

.tv__item-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.tv__splashimage-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}