.bio__elements {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.film-type__elements {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.shop__elements {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.shop__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: auto;
    padding: 0 0 1rem 0;
    color: rgb(40, 40, 43);
    gap: 1rem;
}

.blog__elements {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    color: rgb(250, 249, 246);
}

.tv__elements {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.tv__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: auto;
    color: white;
    gap: 1rem;
}

.news__elements {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.news__item-sign-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    padding: 1rem;
    color: rgb(250, 249, 246);
    border: 0.1rem solid rgb(250, 249, 246);
    gap: 1rem;
}

.news__item-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: 50vh;
    padding: 1rem;
    border: 0.1rem solid rgb(238, 207, 109);
    color: rgb(250, 249, 246);
    gap: 1rem;
}