/* Mobile (up to 767px) */
@media (max-width: 767px) {

    .footer__example1 {
        display: grid;
        gap: 2rem;
        padding: 2rem 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .footer__logo {
        display: flex;
        max-width: 5rem;
    }

    .footer__grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        color: white;
    }

}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {

    .footer__example1 {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .footer__logo {
        display: flex;
        max-width: 5rem;
    }

    .footer__grid-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
        padding: 1rem;
        color: white;
    }

}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {

    .footer__example1 {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .footer__logo {
        display: flex;
        max-width: 5rem;
    }


}