#navbar {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

#navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: .5rem;
    background-color: grey;
}

.navbar__logo {
    display: flex;
    max-width: 5rem;
}

#navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: auto;
    padding: 0;
    background-color: lightblue;
}

.navbar__item {
    display: flex;
    padding: 1rem;
    background-color: lightgray;
}