.shop__elements {
    justify-content: center;
    width: 100%;
}

.shop__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 0 1rem 0;
    color: rgb(40, 40, 43);
    gap: 1rem;
}

.shop__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    gap: 3rem;
    border-bottom: 0.1rem solid rgb(238, 207, 109);
}

.shop__image-container {
    position: relative;
    width: 100%;
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {

    .shop__elements {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 0 auto;
    }

    .shop__item {
        width: 100%;
    }
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1279px) {

    .shop__elements {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 0 auto;
    }

    .shop__item {
        width: 100%;
    }

}

/* Desktop (1024px and up) */
@media (min-width: 1280px) {


    .shop__elements {
        display: flex;
        gap: 1rem;
    }

    .shop__item {
        width: 25%;
    }
}